language: cpp

os:
    - linux
    - windows

services:
    - docker
  
addons:
    apt:
        packages:
            - docker-ce

env:
    jobs:
        - SMBRANCH=1.7-dev
        - SMBRANCH=1.8-dev
        - SMBRANCH=1.9-dev
        - SMBRANCH=1.10-dev
        - SMBRANCH=master
    global:
        - CACHE_DIR=build-$TRAVIS_OS_NAME
        
before_script:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker build -t system2 . ; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then choco install -y visualstudio2019buildtools --package-parameters "--add Microsoft.VisualStudio.Workload.VCTools --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64" ; fi

script:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker run -w /build --env SMBRANCH=$SMBRANCH -v $(pwd):/build system2 bash build.sh ; fi
    - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then ./build.bat ; fi

#cache:
#    directories:
#        - $CACHE_DIR
    
deploy:
    - provider: releases
      token:
          secure: DKfIM7YhZxcxT/kyqcAg/rx5dTs6/h0OHsW74/dII7xUAM9AjfxGHwuySj5xt007Px5QxcEQqSTZE+45kiY8fE8L2693zP0e/Vd+BfyLc9UMPTrefN3CmDqigY4O15IvVneLYdmi1CzQZfJj83x4g8u+iM3grWbTRQAl96iPHxDkXb96We7v27WFGcQT9ir/u1l643subSey59N4hOxn5EKgGFGKG7osdGlL2SEhEjy7MhoHmBpVn/balfVjsM1PTNsvwdubDfRhzySP2dmIPvbWztYm9TVS5e3IvV0ZdopCgqvP1mmDFT2k2QZQvkthnur/jyxeq45E7HlaTs7pmUMU5a3kcdY459tTAGyblkCp2U2mHtPrq3aZBNQl4ozRttTj7sEz/sxqLWPKMUqkatJxEFFblBEL7ZNZ/7TKc/EdyLZiimTxz6XEWfYi9tUEsO7/oDOiycevj6F+PvGge5Z6rtKTvCO/2JT/DCg8IxdC3TTM4luJHH6+S06XLFx8NZ+2HdsWsfqmYrpexG7KWlXJwP6008eB3vbmAoDfTI7THUhF0O6l7dkzOC0Q8/qjdUxKZ8WbG+URUJdcrilWOVoj7LOXk9bXU5NPC710JEXmx6QRBVFyp4kBFK6quKeRr2X/z0mkcX7kfTS0kPkARKctIMpEvOCXmS0iohr1/WU=
      file:
          - Release/system2.ext.so
          - msvc19/Release/system2.ext.dll
          - sourcemod/data/system2/ca-bundle.crt
      on:
          condition: "$SMBRANCH = 1.7-dev"
          repo: dordnung/System2
          all_branches: true
          tags: true